Hw2/runnersaid/target/*
Hw3/runnersaidapi/target/*
Hw4/bower_components/
Hw4/mapEx
Hw4/mapExBlank
ionic-tutorial-master
appengine-endpoints-helloworld-java-maven
*.bowerrc
*.editorconfig
Hw4/myApp/bower.json
*.xml
Hw4/myApp/ionic.config.json
Hw4/myApp/gulpfile.js
Hw4/myApp/www/manifest.json
Hw4/myApp/package.json
Hw4/myApp/www/img/ionic.png
final/API/target/
final/API/.project
final/API/src/main/webapp/logging.properties
final/RunnersAid/hooks
final/RunnersAid/node_modules
final/RunnersAid/platforms
final/RunnersAid/plugins
final/RunnersAid/res
final/RunnersAid/resources
final/RunnersAid/scss
final/RunnersAid/www/lib
final/RunnersAid/www/img
final/RunnersAid/www/service-worker.js
final/RunnersAid/www/manifest.json
final/RunnersAid/gulpfile.js
final/RunnersAid/bower.json
final/API/src/main/webapp/WEB-INF/logging.properties