<ion-view view-title="Map" ng-init="init()">
  <ion-content>	
	<div class="list">
		<div>
			<label class="item item-input">
				<span class="input-label">Address </span>
				<input ng-model="data.address" type="text" placeholder="Address..." required>
			</label>
		</div>
		<div class="button-bar">
			<a class="button button-stable" ng-click="getCurrent()"><span class="ion-location"> Current</span></a>
			<a class="button button-stable" ng-click="getAddress()"><span class="ion-map"> Address</span></a>
		</div>
	</div>
	<div id="myMap" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
